

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(163, 164, 164);
    padding: 30px 50px 30px 50px;
  }

  

.logo {
    height: 60px;
    width: 60px;
   
    left: 25px;
    top: 25px;
}

.languageButton {

}